
.allPageElf{
  background-color: #F5F5F7;
  height: 100vh;
  
}

.allPage{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}

.headerContactUs{
   font-size: xxx-large;
   font-family: "Times New Roman", Times, serif;
   padding: 30px 50px;

}



.InformationBox{
    background-color: #BAD7D0;
    width: 90%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0 12px;
    margin: 50px 0;
   
}
.Information{
  font-family: newsreader;
  font-size: 22px;
  padding-right: 40px;
}

.haritaImageContactUs img{
  width: 100%;
}


