
.searchBarEvents {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; 
}

.searchBarEvents .Input1Events {
  width: 10%;
  padding-right: 10px; 
  margin-right: 10px; 
  border-radius: 20px;
}

.searchBarEvents .Input2Events {
  width: 600px;
  margin-left: 20px; 
  border-radius: 20px;
}

.searchBarEvents button {
  padding: 4px 10px;
  border-radius: 20px;
  background-color: #BAD7D0;
  margin-left: 15px;
}

.cardEvent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;

}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
