.allPageForm{
display: flex;
justify-content: center;
}

.containerForm {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 30px;
    width: 50%;
    max-width: 100%; 
    padding: 20px 20px;   
    background-color: #c0e4d6;
    border-radius: 50px;
  
}
.HistoryForm {
    width: 40%;
}

.headerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 0 100px; 
}
.LogoForm img{
    border-radius: 50%;
}

.titleForm {
    margin-left: 40px;
    font-size: larger;
    max-width: 100%; 
}

.formMain {
    margin-top: 20px; 
    max-width: 80%; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
}
.formMain form{
    width: 100%;
}
.formMain form input{
    padding: 12px;
    margin-top: 12px;
    border-radius: 10px;
}

.formInput {
    width: 100%; 
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
}

.buttonContainer button {
    padding: 8px 12px; 
    border-radius: 20px;
    background-color: #c0e4d6;
}

.HistoryEventForm{
    margin: 50px 50px;
}

.HistoryEventsForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #c0e4d6;
    margin-bottom: 15px;
    border-radius: 20px;
}
.HistoryEventsForm p{
margin-bottom: 0px;
}
.dateAndTimeFormInput{
    display:flex;    
}

.dateAndTimeFormInput label{
display: flex;
align-items: center;
justify-content: center;
margin: 0px 10px;
}
.FormPageHistoricalEventLists{
display: flex;
flex-direction: column;
align-items: center;
margin-right: 70px;

}