body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.container{
    text-align: center;
}
.LoginTypes{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.LoginTypes button{
    background-color: #BAD7D0 ;
    padding: 20px;
    margin: 12px;
    width: 400px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;

}
.LoginTypes button:hover{
    background-color: #ade3d8;
}

.WithoutLogin button{
    background-color: #BAD7D0;
    padding: 8px;
    margin: 30px;
    width: 400px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}


